<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>IRestaurant</display-name>
  <welcome-file-list>
    <welcome-file>/jsp/index.jsp</welcome-file>
  </welcome-file-list>
  <mime-mapping>
    <extension>apk</extension>
    <mime-type>application/vnd.android.package-archive</mime-type>
  </mime-mapping>
  <servlet>
    <description></description>
    <display-name>IndexSv</display-name>
    <servlet-name>IndexSv</servlet-name>
    <servlet-class>com.seawind.servlet.IndexSv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexSv</servlet-name>
    <url-pattern>/IndexSv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShopSv</display-name>
    <servlet-name>ShopSv</servlet-name>
    <servlet-class>com.seawind.phone.ShopSv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopSv</servlet-name>
    <url-pattern>/ShopSv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookSv</display-name>
    <servlet-name>CookSv</servlet-name>
    <servlet-class>com.seawind.phone.CookSv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookSv</servlet-name>
    <url-pattern>/CookSv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileSv</display-name>
    <servlet-name>FileSv</servlet-name>
    <servlet-class>com.seawind.phone.FileSv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileSv</servlet-name>
    <url-pattern>/FileSv</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/irestaurantdb</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>sw</display-name>
    <servlet-name>sw</servlet-name>
    <servlet-class>com.seawind.servlet.sw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sw</servlet-name>
    <url-pattern>/sw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SWCooks</display-name>
    <servlet-name>SWCooks</servlet-name>
    <servlet-class>com.seawind.servlet.SWCooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SWCooks</servlet-name>
    <url-pattern>/SWCooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SWShop</display-name>
    <servlet-name>SWShop</servlet-name>
    <servlet-class>com.seawind.servlet.SWShop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SWShop</servlet-name>
    <url-pattern>/SWShop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SWOrders</display-name>
    <servlet-name>SWOrders</servlet-name>
    <servlet-class>com.seawind.servlet.SWOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SWOrders</servlet-name>
    <url-pattern>/SWOrders</url-pattern>
  </servlet-mapping>
</web-app>